:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-bcg: blue;
  --color-light: #fff;
  --color-brand: #57bd84;
  --height: 50px;
  --btn-width: 50px;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

// Setup
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  background-color: var(--color-bcg);
  justify-content: center;
  align-items: center;
  height: 15%;
}
// Main styles
.search-form {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: var(--rad);
}

.btn-submit,
input {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
}

input[type='text'] {
  outline: transparent;
  width: 100%;
  background: var(--color-light);
  padding: 0px 10px;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
}
.btn-submit {
  display: none;
  position: absolute;
  right: -13px;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.load-more {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: var(--color-bcg);
  border: transparent;
  border-radius: var(--rad);
  cursor: pointer;
}
